.bud-header{
	position: relative;
	width: 100%;
	padding: 10px 0;
}

.bud-header-logo{
	max-width: 180px;
	margin: 0 auto;
}

.bud-footer-logo{
	max-width: 400px;
	margin: 40px auto;
}

.bud-content{
	position: relative;
	padding: 60px 0;
}